header, nav {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C2C2E;
    border-bottom: 2px solid #C8A146;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.brand .magpie-yarn {
  height: 150px; /* Adjust as needed */
  width: auto;
}
header h1 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 80px;
    color: #F5F5F5;
    text-align: center;
    font-family: "Gwendolyn";
}

header p {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: var(--tail-green);
    text-shadow: 2px 2px var(--feather-white);
    text-align: center;
}


/* Navigation Bar */
nav {
    background: #3E3E41;
    box-shadow: 0 4px 6px 0 #C8A146;
}

.nav-container {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1em;
    color: var(--wing-blue);
    text-shadow: 2px 2px var(--feather-white)
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}