header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2C2C2E;
    border-bottom: 2px solid #C8A146;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8px;
}

.brand .magpie-yarn {
  height: 150px; /* Adjust as needed */
  width: auto;
}

.brand h1 {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 80px;
  color: var(--feather-white);
  text-align: center;
  font-family: "Gwendolyn", cursive;
}

.header-container .tagline {
  margin: 0.5em 0 1em 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: var(--tail-green);
  text-shadow: 2px 2px var(--feather-white);
  text-align: center;
}

/* Navigation Bar */
nav {
    background: #3E3E41;
    box-shadow: 0 4px 6px 0 #C8A146;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1em 2em;
    color: var(--wing-blue);
    text-shadow: 2px 2px var(--feather-white)
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}