body, html {
   flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--mid-feather-grey)
}

main {
    margin: 0;
}

a {
  color: var(--wing-blue);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--violet-sheen);
  text-decoration: underline;
  font-weight: bold;
}

/* Sections of main page */
section {
    margin: 1rem;
    padding: 1.5rem;
    background-color: #2C2C2E;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 #C8A146;
}

section h2 {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    color: var(--feather-white);
    border-bottom: 3px solid var(--copper-gleam);
    padding-bottom: 0.3rem;
}

section p {
    font-size: 0.9rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    color: #F5F5F5;
}

section ul li {
    padding: 0 0 0 5px;
    font-size: 1rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    color: #F5F5F5;
}

blockquote {
    font-style: italic;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 4px solid var(--copper-gleam);
    color: var(--tail-green)
}

.more-about-link {
  font-style: italic;
  font-weight: normal;
}

/*
.featured-img {
  height: 150px;
}
*/

/* Social pages links section  */
#social-section {
    text-align: center;
}

/* Social Media Buttons */

.social-icons {
    display: flex;
    flex-wrap: wrap;  /* Allows buttons to break into new rows */
    flex-direction: column;  /* Stacks items vertically first */
    justify-content: space-beteen;
    align-items: center; /* Centers content horizontally */
    gap: 10px; /* Spacing between buttons */
    height: 120px; /* Adjust based on button size */
    max-width: 200px; /* Prevents excessive stretching */
}

.social-icons a {
    width: 45%; /* Two buttons per row */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Platform-Specific Colors */
.instagram { background-color: #E4405F; }
.youtube { background-color: #FF0000; }
.tiktok { background-color: #000000; }
.threads { background-color: #1DA1F2; }

.bmc-button {
    display: inline-block;
    background-color: var(--wing-blue);
    color: var(--feather-white);
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

.bmc-button:hover {
    background-color: var(--violet-sheen);
}