/* Set a basic layout */
body, html {
    font-family: 'Arial', sans-serif;
    color: #333;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
}

header, nav {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: fit-content;
    background-color: #2C2C2E;
    border-bottom: 2px solid #ddd;
}

header h1 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 60px;
    color: #F5F5F5;
    text-align: center;
    font-family: "Gwendolyn";
}

header p {
    font-size: 24px;
    color: #DADADD;
    text-align: center;
}


/* Navigation Bar */
nav {
    background: #444;
}

.nav-container {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}



/* Social Media Buttons */

.social-icons {
    display: flex;
    flex-wrap: wrap;  /* Allows buttons to break into new rows */
    flex-direction: column;  /* Stacks items vertically first */
    align-items: center; /* Centers content horizontally */
    gap: 10px; /* Spacing between buttons */
    height: 120px; /* Adjust based on button size */
    max-width: 200px; /* Prevents excessive stretching */
}

.social-icons a {
    width: 45%; /* Two buttons per row */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Platform-Specific Colors */
.instagram { background-color: #E4405F; }
.youtube { background-color: #FF0000; }
.tiktok { background-color: #000000; }
.threads { background-color: #1DA1F2; }


h1 {
    color: #333;
}

.bmc-button {
    display: inline-block;
    background-color: #ffdd00;
    color: black;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

.bmc-button:hover {
    background-color: #ffcc00;
}