<div id="galleryDetailOverlay" class="details-overlay">
    <div class="gallery-detail-card">
        <button id="closeGalleryDetailBtn" class="close-detail">&times;</button>
        
        <span id="galleryDetailPillar"></span>
        <h2 id="galleryDetailTitle"></h2>
        
        <img id="galleryDetailImage" src="" alt="Project Detail">
        
        <p id="galleryDetailDescription"></p>
        
        <div class="tags-container">
            <ul id="galleryDetailTags"></ul>
        </div>
    </div>
</div>
