    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support My Crochet</title>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/TheYarnMagpie/css/colors.css">
    <link rel="stylesheet" href="/TheYarnMagpie/css/styles.css">  <!-- for pages in /pages/ -->
    <link rel="stylesheet" href="/TheYarnMagpie/css/styles.css">     <!-- for index.html in root -->
    <link rel="stylesheet" href="/TheYarnMagpie/css/header.css">  <!-- Link to header styles -->
    <link rel="stylesheet" href="/TheYarnMagpie/css/gallery-styles.css">
    <link rel="stylesheet" href="/TheYarnMagpie/css/gallery-details-card.css">
    <link rel="stylesheet" href="/TheYarnMagpie/css/contact-form.css">
    
    <script src="/js/loadHead.js"></script>