<header>
    <div class="brand">
      <img src="images/magpie-yarn.png" alt="magpie with a yarn ball" class="magpie-yarn">
      <h1>TheYarnMagpie</h1>
    </div>
    <p>creative crochet designs & handmade magic</p>
   
    <!-- Navigation Bar -->
    <nav>      
        <ul>
            <li><a data-href="index.html">Home</a></li>
            <li><a data-href="pages/gallery.html">Gallery</a></li>
            <li><a data-href="pages/contact-form.html">Contact</a></li>
        </ul>
    </nav>
</header>